// Fonts
@import url('https://fonts.bunny.net/css?family=Roboto');

// Variables
@import 'variables';

// TailwindCss
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

button {
    &:focus-visible {
        outline-color: $outline-color;
    }
}

/* --------------- custom css Transition component --------------- */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
    position: absolute;
}


/* --------------- custom scroll bar --------------- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $primary-color;
}
